/proyectos/Clase3/build/
/proyectos/clase3/Clase3/build/
/proyectos/clase3/Clase3Paquetes/nbproject/private/
/proyectos/clase5_segundo/Ordenamiento/nbproject/private/
/proyectos/clase5_segundo/Ordenamiento/build/